body{
    font-family: 'Roboto', sans-serif;
    /* background-color: brown; */
    height: 100vh;
    width: 100vw;
}

.flex-container{
    /* background-color: blue; */
    display: flex;
    height: 100%;
}

.contactos{
    background-color: aquamarine;
    height: 100%;

    /* width: 25%; */
    /* flex-grow: 1; */
    flex: 0 0 20%;
}

.principal{
    background-color: #E8EBE4;
    height: 100%;

    /* width: 75%; */
    /* flex-grow: 3; */
    flex: 0 0 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */

    /* gap: 25px; */
    gap: 1.5rem;
}

.principal-imagen{
    /* width: 200px; */
    width: 12.5rem;
    /* height: 200px; */
    /* margin-bottom: 10px; */
    border-radius: 4%;
}

.texts{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #1B1F21;
    gap: 0.2rem;
}

.principal-parrafo-1{
    /* font-size: 45px; */
    font-size: 2.8rem;
}

.principal-parrafo-2{
    /* width: 480px; */
    width: 30rem;
    /* text-align: center; */
    line-height: 1.6;
    text-align: center;
}